@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-weight: 800;
    letter-spacing: -0.083em;
}
li{
    list-style: none;
}
.h100vh{ height: 100vh;}
#root{
    a{
        color:black
    }
    a:hover{
        color:aqua;
    }

    h1{
        max-width:9.5rem;
    }

    .workSection{
        .swiper-wrapper{
             .swiper-slide{
                min-height: calc(100vh - 120px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
             }
            .react{
                background:url(https://leehyeonhkuk.cafe24.com/portimg/3.png) no-repeat center;
                background-size: cover;
                color:white;
                @media (max-width:768px){
                background-image: url(https://img.cjthemarket.com/images/file/display/084/20220901181851256.png?RS=1920x500);
                }
             }
            .boot{
                background:url(https://leehyeonhkuk.cafe24.com/portimg/1.jpg) no-repeat center;
                background-size: cover;
                color:white;
             }
            .sir{
                background:url(https://leehyeonhkuk.cafe24.com/portimg/2.jpg) no-repeat center;
                background-size: cover;
                color:white;
             }
        }
        .swiper-scrollbar-horizontal{
            height: 2px;
            bottom:0;
            left:0;
            right:0;
            width:100%;
        }
    }
    .section{
        height: calc(100vh - 120px);
        min-height:800px;
    }
}